/*GENERAL*/

* {
  font-family: Quicksand;
}

body, html {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  font-weight: bold;
  font-size: 20px;
}

h1, h2 {
  margin-block-end: 0.1em;
}

.login {
  color : #EE5A24;
}

/* HEADER*/

.menu-logo-text-container {
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  background: white;
  opacity: 0.8;
  z-index: 101;
  width: 100%;
}
.logo-texte-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.textTitle {
  display: flex;
  font-weight: bold;
  font-size: 23px;
  margin:0;
  justify-content: center;
  align-items: center;
  color: #000000;

}
.no-link {
  text-decoration: none;
}

.menu-link {
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.menu-link:hover {
  color: #EE5A24;
}

.orange-dot {
  color: #EE5A24;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.5em;
}

.logo-image {
  height: 37px;
  display: flex;
  margin-right: 7px;
  justify-content: center;
  align-items: center;
}
/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: row;
  background-color: #C4C4C4;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.text-footer {
  margin-left: 20px;
}

.footer-icon {
  margin-right: 25px;
  font-size: 2em;
}

.footer-icon a {
  color: black;
}

/*SECTION HOME*/

.test {
  /*border: 1px solid red;*/
  flex-direction: column;
}

.date-author {
  font-size: 15px;
  font-weight: normal;
}

.article-title {
  margin-bottom: 20px;
}

.article-content {
  font-size: 20px;
  margin-bottom: 70px;
  font-style: normal;
}

.title-date{
  flex-direction: row;
  flex-shrink: 1;
}

.article-container {
  width: 42%;
  margin: auto;
}

.img {
  width: 100%;
  height: 100%;
}

.link-title {
  text-decoration: none;
  color: #EE5A24
}

.read {
  color: #EE5A24
}

.titre-separateur {
/*  border: 1px solid red;*/
  margin-top: 115px;
  margin-bottom: 70px;
  text-align: center;
}

/* SECTION PROFILE*/

.avatar-image {
border: 3px solid #EE5A24;
height: 250px;
width: 250px;
flex-shrink: 1;
border-radius: 150px;
background-position: center;
background-size: cover;
margin: auto;
}

.profile {
  text-align: center;
}

.user-and-role {
  font-size: 20px;
  font-weight: bold;
}

.red {
  color: #FF0000
}

.pseudo-role {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.button_orange {
  text-decoration: none;
  background-color: #EE5A24;
  width: 320px;
  height: 35px;
  margin-top: 25px;
  padding-top: 9px;
  font-size: 20px;
  color: #000000;
}

.profile-button {
  text-align: center;
  margin: auto;
  width: 16.5%;
  margin-top: 80px;
  height: 23.7vh;
}


/* ADD AVATAR*/

.form-container {
  margin-top: 115px;
  margin: auto;
  width: 15%;
  text-align: center;
}

.cool-input, #password{
  background-color: #C4C4C4;
  border: none;
  outline: none;
}

.cool_button {
  background-color: #EE5A24;
  border: none;
  outline: none;
  width: 30%;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.avatar-comment {
  height: 80vh;
}
.pack {
  height: 29.5vh;
}

.general-container {
  margin-top: 100px;
  border: 1px solid white;
}

/* SECTION SINGLE */

.comment-full {
  width: 42%;
  margin: auto;
  flex-direction: column;
}

.container-test {
  display: flex;
  flex-direction: row;
}
.comment-date {
  font-size: 12px;
}
.avatar-pseudo {
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
}

.avatar {
  height:80px;
  width: 80px;
}

.avatar-comment {
  width: 100%;
  height: 100%;
}
.pseudo {
  text-align: center;
}

.comment-content-date {
  width: 95%;
}

.comment-container {
width: 42%;
margin: auto;
flex-direction: column;
border: 1px solid red;
}

.content-article {
  font-family: Quicksand;
  height: 70vh;
}

.max-container {
  border: 1px solid red;
  width: 70%;
}

.message {
  text-align: center;
  font-weight: bold;
  margin: auto;
}


.titre-separateur-2 {
  margin-top: 115px;
  margin-bottom: 40px;
  text-align: center;
}
.comment-form {
  width: 42%;
  text-align: center;
  margin: auto;
}
.comment-button {
    background-color: #EE5A24;
    border: none;
    outline: none;
    width: 30%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
}

.pseudo {
  font-size: 18px;
  font-weight: bold;
}

.date-comment {
  font-size: 13px;
  font-weight: lighter;
}

/* FORM LOGIN & REGISTER*/

.log-form {
  width: 10%;
  margin: auto;
  text-align: center;
}

.push {
  margin-top: 10px;
  margin-bottom: 10px;
}

.log-button {
  background-color: #EE5A24;
  border: none;
  outline: none;
  width: 20%;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.no-comment {
  text-align: center;
}

.light {
  font-size: 22px;
  font-weight: lighter;
}

.paginate {
  text-align: center;
}
 .paginate-button {
   color: #EE5A24;
 }

 .separateur {
   margin: auto;
   width: 3%;
   border: 2px solid #EE5A24;
 }

 .post-comment {
   width: 100%;
 }

 td {
   border: 1px solid grey;
   padding: 10px;
 }

 .cool-grey {
   background-color: #c4c4c4;
 }

 table {
   background-color: #d6d6d6;
 }

 .admin-container {
   text-align: center;
 }

 .admin-container a {
   color: #EE5A24;
 }

 .table-admin {
   margin: auto;
   border-collapse: collapse;
   width: 60%;
 }

 .table-content {
   font-weight: lighter;
 }

 .edit-article {
   width: 70%;
   margin: auto;
   text-align: center;
 }

 .input {
   width: 40%;
 }
div a {
  color: black;
}

@media screen and (max-width: 1024px) {

  .link-title {
    font-size: 18px;
  }

  .article-content {
    font-size: 16px;
  }

  .profile-button {
    width: 31%;
  }

  .log-form {
    width: 100%;
  }

  .log-button {
    width: 5%;
  }

  .table-admin {
    width: 90%;
    font-size: 13.5px;
  }

  .profile {
    height: 78vh;
  }

  .pack {
    height: 53.5vh;
  }
}
