/*GENERAL*/

* {
  font-family: Quicksand;
}

section {
}

body, html {
  padding: 0;
  margin: 0;
}

/* HEADER*/

.menu-logo-text-container {
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  background: white;
  z-index: 101;
  width: 100%;
}
.logo-texte-container {
  border 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.textTitle {
  display: flex;
  font-weight: bold;
  font-size: 23px;
  margin:0;
  justify-content: center;
  align-items: center;
  color: #000000;

}
.no-link {
  text-decoration: none;
}

.menu-link {
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.menu-link:hover {
  color: #EE5A24;
}

.orange-dot {
  color: #EE5A24;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.5em;
}

.logo-image {
  weight: 41px;
  height: 37px;
  display: flex;
  margin:0;
  justify-content: center;
  align-items: center;
}
/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: row;
  background-color: #C4C4C4;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.text-footer {
  margin-left: 20px;
}

.footer-icon {
  margin-right: 25px;
  font-size: 2em;
}

/*SECTION HOME*/

.test {
  /*border: 1px solid red;*/
  flex-direction: column;
  margin-top: 70px;

}

.article-content {
  font-size: 20px;
  margin-bottom: 70px;
  m
}

.title-date{
  flex-direction: row;
  flex-shrink: 1;
}

.article-container {
  width: 42%;
  margin: auto;
}

.img {
  width: 800px;
  height: 400px;
}

.link-title {
  text-decoration: none;
  color: #EE5A24
}

.read {
  color: #EE5A24
}

.titre-separateur {
  border: 1px solid red;
  margin-top: 150px;
  text-align: center;
}
